*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

*.sassc
.sass-cache
capybara-*.html
.rspec
/vendor/bundle
/public/system/*
/coverage
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

.DS_Store
.project
.buildpath
.*.swp

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles. 
/log/*

*.local*
config/initializers/secret_token.rb
